   
  body {
      font-family: 'Monoton', cursive;
      background-image: url(../images/cogus001.webp);
      background-color: rgb(30, 16, 92);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100vw;
      height: 100%;
  }
  
  section{
      
      margin-bottom: -4em;
   
  }
  .hexgap{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      width: 100vw;
      height: 100%;
  }
  
  .wrap{
    filter: drop-shadow(0px 0px 10px rgb(87, 84, 84));
  }
  .hexagon{
    background-color: rgba(41, 3, 77, 0.247);
    background-size: cover;
    width: 300px;
    height: 300px;
    clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
  }
  .um {
    background-image: url(../images/carrin.jpg);
  }
  .dois {
    background-image: url(../images/javaex001.jpg);
  }
  .tres {
    background-image: url(../images/webex002.jpg);
  }
  .quatro {
    background-image: url(../images/github.png);
  }
.cinco {
background-image: url(../images/papelped.jpg);
}
.seis {
background-image: url(../images/codepen.png);
}
.sete {
background-image: url(../images/relogio.jpg);
}

.oito {
background-image: url(../images/climatermometro.jfif);
}

.nove {
background-image: url(../images/guruterminal.jpg);
}
.dez {
background-image: url(../images/beybaldeplacar.jpg);
}
.onze {
background-image: url(../images/joguin.jpg);
}
/*
.doze {
background-image: url(../images/sand001.webp);
}
.trese {
background-image: url(../images/palco001.webp);
}
.quatorz {
background-image: url(../images/copo001.webp);
}
*/



.topo{
display: grid;
justify-items: center;
margin-bottom: 35vh;
width: 100vw;
}
.title{
font-size: 5em;
color: darkorange;
text-shadow: 1px 1px 2px darkorange, 0 0 1em darkorange, 0 0 0.2em darkorange;
}
.title:hover{
text-shadow: 1px 1px 2px darkorange, 0 0 1em rgb(243, 194, 135), 0 0 0.2em darkorange;
}
.subtitle{
font-family: fantasy;
font-size: 1.5em;
color: rgb(245, 194, 132);
margin-top: -1em;

}


.header{
width:100%;
height:1em;
margin-bottom: 20em;
position:sticky;
top:0;
background-color: rgba(0, 0, 0, 0.637);
display: flex;
justify-content: center;
z-index: 99;
}
.linked{
font-family: Arial;
font-weight: 100;
text-decoration: none;
color:white;
font-size: .8em;
margin-right: 4em;
}
.linked:hover{
color:darkorange;
}
.texfot{
margin-top: 15vh;
font-family: Arial;
font-weight: 100;
color:white;
font-size: .8em;
width:100%;
height:1em;
background-color: rgba(0, 0, 0, 0.637);
display: flex;
justify-content: center;
bottom: 0;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 9;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-family: Arial, Helvetica, sans-serif;
}
.wrap:hover{
  filter: drop-shadow(0px 0px 10px rgba(247, 165, 15, 0.89)); 
}

@media (max-width:40em) {
.hexgap{
display: grid;
align-items: center;
justify-content: center;}
.title{
  font-size:2.5em ;
}
}